@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

:root {
  --card-bg: #ffffff;
  /*--card-bg: hsl(0, 100%, 75%);*/
  --font-family: "Quicksand";
  --btn-font-size: 14px;
  --btn-padding: 8px 30px;
  --btn-color: #0089c9;
}

* {
  font-family: var(--font-family);
}

/* NavBar Style */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.nav-bar-left {
  list-style: none;
}

.nav-bar-item, .side-nav-bar-item {
  font-weight: bold;
  cursor: pointer;
  color: rgb(92, 92, 92);
}

.nav-bar-item {
  display: inline-block;
  padding: 0 1.5em;
}

.nav-bar-item-selected, .side-nav-bar-item-selected {
  color: var(--btn-color);
}

/* Side NavBar Style */
main {
  display: flex;
}

.hidden {
  display: none;
}

.filters-title, .search-title {
  color: rgb(129, 127, 127);
}

.search-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-nav-bar {
  flex: 1;
  min-width: 350px;
  left: 0;
  transition: 2s; 
}

.side-nav-bar-item {
  display: flex;
  flex-direction: row;
  padding: 0.5em 1em 0.5em 0;
  margin-left: 0%;
}

.closebtn {
  text-decoration: none;
  font-size: 3em;
  color: rgb(129, 127, 127);
  margin-right: 10px;
}

.search-bar {
  width: calc(100% - 10px);
  border-radius: 3px;
  padding: 12px 20px;
  margin: 0.5em 0 1em 0;
  box-sizing: border-box;
  border: 1px solid  rgb(129, 127, 127);
  box-shadow: inset 0px 6px 8px -10px rgb(129, 127, 127);
}

.cards {
  flex: 3;
}

/* Card Style */
#cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
}

.cards-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  justify-content: space-around;
}

.card {
  background-color: var(--card-bg);
  margin: 1em;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0px 3px 5px 0px rgba(140, 146, 157, 0.5);
  overflow: hidden;
}

/* Card Overlapping Icon Style */
.card-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-icon, .logo {
  position: absolute;
  color: #ffffff;
}

.card-icon {
  cursor: pointer;
}

.card-img {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
 
.card-body {
  padding: 1em 2em;
  height: 200px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card-title {
  margin-top: 0;
  margin-bottom: 0.3em;
}

.card-description {
  margin-top: 0;
}

/* Buttons Style */
.card-button, .filter-button {
  margin-top: auto;
  margin-bottom: 10px;
  width: fit-content;
  border: 2px solid var(--btn-color);
  border-radius: 30px;
  color: var(--btn-color);
  background-color: transparent;
  font-size: var(--btn-font-size);
  font-weight: bold;
  letter-spacing: -0.8px;
  padding: var(--btn-padding);
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
}

.filter-button-active {
  color: #ffffff;
  background-color: var(--btn-color);
}

.card-button:hover {
  border-color: black;
  color: black;
}

@media (max-width: 800px) {
  .nav-bar, .side-nav-bar {
    visibility: hidden;
  }

  .search-bar-mobile {
    visibility: visible;
  }
}